<div [ngClass]="{'opacity-50': isLoading}" class="form-signin w-100 m-auto mt-5">
  <form #signUpForm="ngForm" [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()" >
    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" />
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input class="form-control" type="firstname" name="firstname" id="firstname" formControlName="firstname" placeholder="Firstname" required="" />
      <label htmlFor="firstName">Firstname</label>
      <span class="text-danger" *ngIf="firstname.invalid && (firstname.touched || signUpForm.submitted)">Firstname can not be valid</span>
    </div>
    <div class="form-floating">
      <input class="form-control" type="lastname" name="lastname" id="lastname" formControlName="lastname" placeholder="Lastname" required=""  />
      <label htmlFor="lastname">Lastname</label>
      <span class="text-danger" *ngIf="lastname.invalid && (lastname.touched || signUpForm.submitted)">Lastname can not be valid</span>
    </div>
    <div class="form-floating">
      <input class="form-control" type="username" name="username" id="username" formControlName="username" placeholder="Username" required=""  />
      <label htmlFor="username">Username</label>
      <span class="text-danger" *ngIf="username.invalid && (username.touched || signUpForm.submitted)">Username can not be valid</span>
    </div>
    <div class="form-floating">
      <input class="form-control" type="email" name="email" id="email" formControlName="email" placeholder="name@example.com" required="" />
      <label htmlFor="email">Email address</label>
      <span class="text-danger" *ngIf="email.invalid && (email.touched || signUpForm.submitted)">Email can not be valid</span>
    </div>
    <div class="form-floating">
      <input class="form-control" type="password" name="password" id="password" formControlName="password" placeholder="Password" required=""  />
      <label htmlFor="password">Password</label>
      <span class="text-danger" *ngIf="password.invalid && (password.touched || signUpForm.submitted)">Password can not be valid</span>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Sign Up</button>
    <span class="mt-3">Do you have an account? <a routerLink="/sign-in">Sign In</a></span>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
  </form>
  <div class="position-absolute translate-middle top-50 start-50">
    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>