<div class="container mt-5 pt-5">
  <div class="card">
    <div class="card-body">
      <div class="dropdown float-end">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">

          <a routerLink="/profile-edit" class="dropdown-item">Edit</a>

          <button class="dropdown-item" onClick={deleteUser}>Delete</button>

        </div>
      </div>
      <div class="d-flex align-items-start">
        <div class='d-flex flex-column justify-content-end align-items-center'>
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar-md img-thumbnail object-fit-cover" alt="profile-image" height="48" width="48" />

          <ul class="social-list list-inline mt-3 mb-0 d-flex flex-column">
            <li class="list-inline-item mb-1">
              <a href='#' class="social-list-item text-center border-primary text-primary"></a>
            </li>
            <li class="list-inline-item mb-1">
              <a href='#' class="social-list-item text-center border-primary text-primary"></a>
            </li>
            <li class="list-inline-item mb-1">
              <a href='#' class="social-list-item text-center border-danger text-danger"></a>
            </li>
            <li class="list-inline-item mb-1">
              <a href='#' class="social-list-item text-center border-info text-info"></a>
            </li>
          </ul>
        </div>

        <div class="w-100 ms-3">
          <h4 class="my-0"></h4>
          <a href='/user/profile' class='text-decoration-none d-inline'><p class="text-muted d-inline">{{user?.userName}}</p></a>
          <br />
          <div class="mt-3">
            <h4 class="font-13 text-uppercase">About Me :</h4>
            <p class="text-muted font-13 mb-3">
              Hello, I'm {{user?.firstName}} {{user?.lastName}} <br />
            </p>
            <p class="text-muted mb-2 font-13"><strong>Full Name :</strong><span class="ms-2">{{user?.firstName}} {{user?.lastName}}</span></p>

            <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2"></span></p>

            <p class="text-muted mb-2 font-13"><strong>Email :</strong><span class="ms-2">{{user?.email}}</span></p>

            <p class="text-muted mb-1 font-13"><strong>Location :</strong><span class="ms-2"></span></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>