<div class="container pt-5">
  <div class="row p-5">
    <div class="col-sm-6">
      <img class="img-fluid rounded"
      [src]="product?.imgURL">
    </div>
    <div class="col-sm-6">
      <span class="text-secondary">{{product?.sku}}</span>
      <h1 class="display-5">{{product?.name}}</h1>
      <div class="d-flex align-items-center">
        <span class="d-flex align-items-center">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
        </span>
        <div class="bg-secondary m-2 opacity-50" style="width: 1px; height: 24px;"></div>
        <span class="text-secondary ml-3">{{product?.reviews?.length}} Reviews</span>
      </div>

      <p class="lead">
        {{product?.description}}
      </p>
      <div class="d-flex mb-3">
        <span class="text-secondary me-3">Color</span>
        <button class="rounded-circle text-secondary border border-gray"
          style="height: 24px; width: 24px;" [ngStyle]="{'background-color': product?.color}"></button>
      </div>

      <div class="bg-secondary opacity-50 mb-3" style="height: 1px;"></div>

      <div class="d-flex justify-content-between mb-5">
        <h3>{{product?.price}}$</h3>
        <div>
          <button class="btn btn-danger me-2">Add To Cart</button>
          <button class="rounded-circle text-secondary p-1" style="border: none;">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path
                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z">
              </path>
            </svg>
          </button>
        </div>
      </div>

      <div *ngFor="let review of product?.reviews" class="container d-flex justify-content-start">
        <img class="rounded-circle me-3" width="48" height="48"
          src="https://i.pinimg.com/236x/86/ea/e3/86eae3d8abc2362ad6262916cb950640.jpg">
        <div>
          <span class="d-flex align-items-center">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
              </path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
              </path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
              </path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
              </path>
            </svg>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
              <path
                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
              </path>
            </svg>
          </span>
          <span class="text-secondary">{{review.user.firstName}} {{review.user.lastName}}</span>
          <p class="lead fs-6">
            {{review.review}}
          </p>
          <span class="text-secondary" style="font-size: 14px;">20-03-2024</span>
        </div>

      </div>
    </div>
  </div>
</div>