<div class="container-fluid mt-5 p-3 px-5">
  <div class="row">
    <input class="form-control mb-3 w-75" type="search" placeholder="Search" aria-label="Search">
  </div>
  <div class="row row-cols-2 row-cols-min-3 gap-3">
    <div *ngFor="let shop of shops" class="col card p-0" 
      style="width: 18rem;">
      <img class="card-img-top object-fit-cover"
        [routerLink]="'/shop/'+shop.id"
        height="192"
        src="https://cdn6.aptoide.com/imgs/6/4/a/64a6d7c9528ac7cb46e9cec8e4910bd7_icon.png"
        style="cursor: pointer;"
        alt="Card image cap">

      <div class="card-body" [routerLink]="'/shop/'+shop.id" style="cursor: pointer;">
        <span class="d-flex align-items-center">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
        </span>
        <p class="text-secondary m-0">{{shop.user?.firstName}} {{shop.user?.lastName}}</p>
        <p class="text-secondary fs-6 m-0">Founded at {{shop.foundedAt}}</p>
        <p class="m-0">{{shop.name}}</p>
      
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <button [routerLink]="'/shop/'+shop.id" type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <a *ngIf="shop.user?.id === user.id" type="button" [routerLink]="'/shop/' + shop.id + '/edit-shop'" class="btn btn-sm btn-outline-secondary">Edit</a>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-2">
    <ul class="pagination">
      <li class="page-item">
        <a type="button" (click)="handlePreviousPage()" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a type="button" *ngFor="let item of [].constructor(totalPages); let i = index" class="page-link" (click)="handlePage(i+1)">
          {{i+1}}
        </a>
      </li>
      <li class="page-item">
        <a type="button" (click)="handleNextPage()" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>