<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-sm-6">
      <img class="img-fluid rounded"
        src="https://cdn6.aptoide.com/imgs/6/4/a/64a6d7c9528ac7cb46e9cec8e4910bd7_icon.png">
    </div>
    <div class="col-sm-6">
      <span class="text-secondary">{{shop.user?.firstName}} {{shop.user?.lastName}}</span>
      <h1 class="display-5">{{shop.name}}</h1>
      <div class="d-flex align-items-center">
        <span class="d-flex align-items-center">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
        </span>
        <div class="bg-secondary m-2 opacity-50" style="width: 1px; height: 24px;"></div>
        <span class="text-secondary ml-3">4 Reviews</span>
      </div>

      <p class="lead">
        {{shop.description}}
      </p>
      <span class="text-secondary">Founded At: {{shop.foundedAt}}</span>

      <div class="d-flex justify-content-between mb-5 mt-2">
          <button [routerLink]="'/shop/' + shop.id + '/product'" class="btn btn-light me-2 border border-secondary">Add Product</button>
      </div>

    </div>
  </div>
  <div class="bg-secondary opacity-50 my-3" style="height: 1px;"></div>
  <h1 class="display-6">Products</h1>
  <div class="row row-cols-2 row-cols-min-3 p-2 gap-3">
    <div *ngFor="let product of products" class="col card p-0" style="width: 18rem; cursor: pointer;"
      [routerLink]="'/product/'+product.id">
      <img class="card-img-top object-fit-cover" height="192" [src]="product.imgURL" alt="Card image cap">

      <div class="card-body">
        <span class="d-flex align-items-center">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            style="height: 16px; width: 16px" class="text-danger" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
            </path>
          </svg>
        </span>
        <p class="text-secondary fs-6 m-0">{{product.sku}}</p>
        <p class="m-0">{{product.name}}</p>
        <p class="m-0 fw-bold">${{product.price}}.00</p>
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <button [routerLink]="'/product/'+product.id" type="button" class="btn btn-sm btn-outline-secondary">View</button>
        
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 p-2">
    <ul class="pagination">
      <li class="page-item">
        <a (click)="handlePreviousPage()" type="button" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let item of [].constructor(totalPages); let i = index" class="page-item">
        <a (click)="handlePage(i+1)" type="button" class="page-link">{{i+1}}</a>
      </li>
      <li class="page-item">
        <a (click)="handleNextPage()" type="button" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>