<div class="d-flex justify-content-start align-items-center">
  <div class="d-flex">
    <img class="img-fluid me-2 object-fit-cover" width="192" [src]="cart.product?.imgURL" />
    <div>
      <p class="m-0">{{cart.product?.name}}</p>
      <p class="text-secondary m-0">{{cart.product?.color}}</p>
      <p class="m-0">${{cart.product?.price}}</p>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <button class="btn" (click)="decreaseQuantity()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash"
        viewBox="0 0 16 16">
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
      </svg>
    </button>
    <input [value]="cart.quantity" type="text" disabled class="d-inline-block" size="4" />
    <button class="btn" (click)="increaseQuantity()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
        viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
      </svg>
    </button>
    <a></a>
  </div>
  <div>
    <button (click)="handleDeleteCart()" class="btn btn-light border text-danger icon-hover-danger">Remove</button>
  </div>


</div>